<ul>
  {{#each}}
    <li>
      {{#link-to 'contacts.contact' this}}
        {{lastName}},
        {{firstName}}
      {{/link-to}}
    </li>
  {{else}}
    <li>No contacts found.</li>
  {{/each}}
</ul>
